body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
    margin: 50px;
    background: linear-gradient(to right, #1d267b, #2a5298);
    color: #ffffff; 
  }
h1,p {
    color: #ffffff; 
  }


.col {
    border: 2px solid white; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 10px;
    flex: 1; 
    min-width: 200px; 
}



.table-container {
  border: 2px solid white; 
  border-radius: 10px; 
  margin: 30px auto;
  width: 80%;
}

.table th {
  background-color: transparent; 
  color: white;
  font-size: 18px;
}
.table td {
  background-color: transparent; 

  font-size: 16px;
  color: white; 
}
.dropdown-container {

  margin-top: 20px;
}

.btn{
  background-color: white; 
  font-size: 16px;
  color: #2a5298; 

}