body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
    margin: 50px;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #ffffff; /* White text */
  }
h1,p {
    color: #ffffff; /* Ensure the heading is white */
  }

  .col {
    border: 2px solid white; /* Adds a black border */
    border-radius: 10px; /* Rounds the corners */
    padding: 20px; /* Adds some spacing inside the border */
    margin: 10px; /* Adds space between columns */
}
